## Preprocessing

In [62]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import os

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [63]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [64]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [65]:
print(X_train.dtypes)
print(y_train.dtypes)

STATUS                       int64
ASK_AMT                      int64
APPLICATION_TYPE_T10          bool
APPLICATION_TYPE_T19          bool
APPLICATION_TYPE_T3           bool
APPLICATION_TYPE_T4           bool
APPLICATION_TYPE_T5           bool
APPLICATION_TYPE_T6           bool
APPLICATION_TYPE_T7           bool
APPLICATION_TYPE_T8           bool
AFFILIATION_Family/Parent     bool
AFFILIATION_Independent       bool
AFFILIATION_National          bool
AFFILIATION_Other             bool
AFFILIATION_Regional          bool
CLASSIFICATION_C1200          bool
CLASSIFICATION_C2000          bool
CLASSIFICATION_C2100          bool
CLASSIFICATION_C3000          bool
CLASSIFICATION_Other          bool
USE_CASE_Heathcare            bool
USE_CASE_Other                bool
USE_CASE_Preservation         bool
USE_CASE_ProductDev           bool
ORGANIZATION_Co-operative     bool
ORGANIZATION_Corporation      bool
ORGANIZATION_Trust            bool
INCOME_AMT_1-9999             bool
INCOME_AMT_10000-24999        bool
INCOME_AMT_100000-499999      bool
INCOME_AMT_10M-50M            bool
INCOME_AMT_1M-5M              bool
INCOME_AMT_25000-99999        bool
INCOME_AMT_50M+               bool
INCOME_AMT_5M-10M             bool
SPECIAL_CONSIDERATIONS_Y      bool
dtype: object
int64

In [66]:
X_train = X_train.astype(float)
X_test = X_test.astype(float)
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [67]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())

STATUS                       0
ASK_AMT                      0
APPLICATION_TYPE_T10         0
APPLICATION_TYPE_T19         0
APPLICATION_TYPE_T3          0
APPLICATION_TYPE_T4          0
APPLICATION_TYPE_T5          0
APPLICATION_TYPE_T6          0
APPLICATION_TYPE_T7          0
APPLICATION_TYPE_T8          0
AFFILIATION_Family/Parent    0
AFFILIATION_Independent      0
AFFILIATION_National         0
AFFILIATION_Other            0
AFFILIATION_Regional         0
CLASSIFICATION_C1200         0
CLASSIFICATION_C2000         0
CLASSIFICATION_C2100         0
CLASSIFICATION_C3000         0
CLASSIFICATION_Other         0
USE_CASE_Heathcare           0
USE_CASE_Other               0
USE_CASE_Preservation        0
USE_CASE_ProductDev          0
ORGANIZATION_Co-operative    0
ORGANIZATION_Corporation     0
ORGANIZATION_Trust           0
INCOME_AMT_1-9999            0
INCOME_AMT_10000-24999       0
INCOME_AMT_100000-499999     0
INCOME_AMT_10M-50M           0
INCOME_AMT_1M-5M             0
INCOME_AMT_25000-99999       0
INCOME_AMT_50M+              0
INCOME_AMT_5M-10M            0
SPECIAL_CONSIDERATIONS_Y     0
dtype: int64
STATUS                       0
ASK_AMT                      0
APPLICATION_TYPE_T10         0
APPLICATION_TYPE_T19         0
APPLICATION_TYPE_T3          0
APPLICATION_TYPE_T4          0
APPLICATION_TYPE_T5          0
APPLICATION_TYPE_T6          0
APPLICATION_TYPE_T7          0
APPLICATION_TYPE_T8          0
AFFILIATION_Family/Parent    0
AFFILIATION_Independent      0
AFFILIATION_National         0
AFFILIATION_Other            0
AFFILIATION_Regional         0
CLASSIFICATION_C1200         0
CLASSIFICATION_C2000         0
CLASSIFICATION_C2100         0
CLASSIFICATION_C3000         0
CLASSIFICATION_Other         0
USE_CASE_Heathcare           0
USE_CASE_Other               0
USE_CASE_Preservation        0
USE_CASE_ProductDev          0
ORGANIZATION_Co-operative    0
ORGANIZATION_Corporation     0
ORGANIZATION_Trust           0
INCOME_AMT_1-9999            0
INCOME_AMT_10000-24999       0
INCOME_AMT_100000-499999     0
INCOME_AMT_10M-50M           0
INCOME_AMT_1M-5M             0
INCOME_AMT_25000-99999       0
INCOME_AMT_50M+              0
INCOME_AMT_5M-10M            0
SPECIAL_CONSIDERATIONS_Y     0
dtype: int64

In [68]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Look at APPLICATION_TYPE value counts
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)
cutoff = 500
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(
    lambda x: "Other" if application_type_counts[x] < cutoff else x
)
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [69]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Choose a cutoff value
cutoff = 500
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [70]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)
cutoff = 1000
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [71]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts[classification_counts > 1])

cutoff = 1000

classifications_to_replace = classification_counts[(classification_counts > 1) & (classification_counts < cutoff)].index.tolist()
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [72]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [73]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, drop_first=True)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [74]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1) 
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [75]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [76]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=X_train.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/opt/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 80)             │         2,960 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,421 (21.18 KB)

 Trainable params: 5,421 (21.18 KB)

 Non-trainable params: 0 (0.00 B)

In [77]:
# Compile the model
nn.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [78]:
# Train the model
history = nn.fit(
    X_train,               
    y_train,               
    epochs=100,           
    batch_size=32,         
    validation_data=(X_test, y_test)
)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 1ms/step - accuracy: 0.4781 - loss: 0.8177
Loss: 0.8177260756492615, Accuracy: 0.4781341254711151

In [79]:
# Export our model to HDF5 file
output_dir = "/Users/zan/Desktop/Data Analytics Course/deep-learning-challenge/Deep Learning Challenge"
os.makedirs(output_dir, exist_ok=True)  # Create the directory if it doesn't exist

model_path = os.path.join(output_dir, "AlphabetSoupCharity_Optimization.h5")
nn.save(model_path)

print(f"Model saved to: {model_path}")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved to: /Users/zan/Desktop/Data Analytics Course/deep-learning-challenge/Deep Learning Challenge/AlphabetSoupCharity_Optimization.h5